<!-- Generated on {{ GEN_DATETIME }}  -->
{# Base template for README.md. #}
<!-- {{ POST_COMPILE_NOTES }} -->
# Scripts
Collection of automation scripts. Use it if you have the same purpose.

[![CC BY 4.0](https://img.shields.io/badge/license-CC%20BY%204.0-brightgreen)](license.md)
[![DeepSource](https://deepsource.io/gh/bearlike/scripts.svg/)](https://deepsource.io/gh/bearlike/scripts/)

Got scripts? See [Contributing](.github/CONTRIBUTING.md).
<br> Got Issues? See [Issues](https://github.com/bearlike/scripts/issues)

## Lot of Scripts
{# Scripts table should be included below #}
{% include 'scripts.md.j2' %}


**[`^        back to top        ^`](#Scripts)**


## License
[![Creative Commons License](http://i.creativecommons.org/l/by/4.0/88x31.png)](http://creativecommons.org/licenses/by/4.0/)
<br> This work is licensed under a [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/).
