Follow these steps to send a connection request to the LinkedIn Profile URL - `{{ PROFILE_URL }}`:
1. Open the LinkedIn profile URL and verify that they are not my first connection.
2. On the profile page, click the **Connect** button located in the Profile Header.
3. If the `Connect` button is not visible on the profile header, click the `More` button and select `Connect` from the dropdown.
4. If you see a `Pending` button instead of a `Connect` button, it means tht a request has already been sent to that profile and we can skip the profile.
4. When the popup titled `Add a note to your invitation?` appears, click the **Add a Note** button.
5. Finally, use the provided Message Template to send a connection request.
